h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Noticia Text', serif;
    font-weight: 700;
}

p {
    text-align: center;
    padding: 10px;
    font-family: 'Noticia Text', serif;
    font-size: 14px;
}